@-webkit-keyframes anim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #828282;
}

ul {
  list-style: none;
}

.brand-bootstrap {
  padding: 10px 0 13px;
  border-bottom: 1px solid #e8e8e8;
}

.brand-bootstrap .brand-bootstrap-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand-bootstrap .brand-bootstrap-items .brand {
  border-right: 1px solid #e8e8e8;
  padding: 5px 10px 1px;
}

.brand-bootstrap .brand-bootstrap-items .brand img {
  width: 180px;
  cursor: pointer;
}

.brand-bootstrap .brand-bootstrap-items .download-nav {
  padding: 0 10px;
}

.brand-bootstrap .brand-bootstrap-items .download-nav ul li {
  display: inline;
}

.brand-bootstrap .brand-bootstrap-items .download-nav ul li a:not(.freedownload) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 8px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.brand-bootstrap .brand-bootstrap-items .download-nav ul li a:not(.freedownload):hover {
  border-color: #00a6eb;
  color: #00a6eb;
}

.brand-bootstrap .brand-bootstrap-items .download-nav ul li .freedownload {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 8px 15px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  display: inline-block;
  background-color: #00a6eb;
  color: white;
  padding-left: 20px;
}

.brand-bootstrap .brand-bootstrap-items .download-nav ul li .freedownload span {
  font-size: 14px;
  line-height: 1;
}

.brand-bootstrap .brand-bootstrap-items .download-nav ul li .freedownload:hover {
  background-color: #1fbdff;
  border-color: #00a6eb;
}

.contact {
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
}

.contact .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.contact .contact-item .contact-item-mailtel i {
  color: #50d8af;
}

.contact .contact-item .contact-item-mailtel a {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.contact .contact-item .contact-item-mailtel a:hover {
  color: #50d8af;
}

.contact .contact-item .contact-item-mailtel span {
  font-family: 'Open Sans', sans-serif;
  color: #6e6d6d;
}

.contact .contact-item .contact-item-mailtel .mail {
  display: inline;
  padding: 3px 15px 3px 2px;
  border-right: 1px solid #e8e8e8;
}

.contact .contact-item .contact-item-mailtel .tel {
  display: inline;
  padding-left: 20px;
}

.contact .contact-item .contact-item-sosial {
  margin-right: 8px;
}

.contact .contact-item .contact-item-sosial a:first-child {
  border: 0;
}

.contact .contact-item .contact-item-sosial a {
  padding: 3px 11px;
  border-left: 1px solid #e8e8e8;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.contact .contact-item .contact-item-sosial a:hover {
  color: #50d8af;
}

.reveal-nav {
  padding: 15px 0;
  -webkit-box-shadow: 0 5px 8px #e9e6e6;
          box-shadow: 0 5px 8px #e9e6e6;
}

.reveal-nav .reveal-nav-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reveal-nav .reveal-nav-item .reveal a h2 {
  font-size: 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #0c2e8a;
}

.reveal-nav .reveal-nav-item .reveal a h2 span {
  color: #50d8af;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown {
  max-width: 70%;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li {
  display: inline;
  margin: 0 5px;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li .active {
  color: #50d8af;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li a {
  color: #4f4f4f;
  padding: 10px 8px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li a:hover {
  color: #50d8af;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li .dropdown {
  display: inline-block;
  position: relative;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li .dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 27px;
  left: 0;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
          box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  padding: 10px 20px;
  background-color: white;
  width: 200px;
  -webkit-animation-name: anim;
          animation-name: anim;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li .dropdown .dropdown-content a {
  display: block;
  padding: 12px 0;
  font-size: 12px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li .dropdown .dropdown-content a:hover {
  color: #50d8af;
}

.reveal-nav .reveal-nav-item .reveal-nav-dropdown ul li .dropdown:hover .dropdown-content {
  display: block;
}

.reveal-nav .reveal-nav-item .toggle {
  position: absolute;
  right: 10px;
}

.reveal-nav .reveal-nav-item .toggle i {
  font-size: 30px;
}
/*# sourceMappingURL=main.css.map */