@import '../Scss/variables';
@import '../Scss/mixin';

// Global:::

@keyframes anim{
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 1;}
    100%{opacity: 1;}
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    box-sizing: border-box;
    text-decoration: none;
    color:$color-grey;
}

ul{
    list-style: none;
}

// brand-bootstrap:::nav-1

.brand-bootstrap{
    padding: 10px 0 13px;
    border-bottom: 1px solid $color-lightengrey;
    .brand-bootstrap-items{
        @include flex-nav;    
        .brand{
            border-right: 1px solid $color-lightengrey;
            padding: 5px 10px 1px;
            img{
                width: 180px;
                cursor: pointer;
            }
        }
        .download-nav{
            padding: 0 10px;
            ul{
                li{
                    display: inline;
                    a:not(.freedownload){
                        @include icon-nav;
                        transition: 0.3s all;
                        &:hover{
                            border-color:#00a6eb;
                            color:#00a6eb;
                        }
                    }               
                    .freedownload{
                        transition: 0.3s all;
                        @include icon-nav;
                        background-color:#00a6eb;
                        color:white;
                        padding-left: 20px;
                        span{
                            font-size: 14px;
                            line-height: 1;
                        }
                        &:hover{
                            background-color:lighten(#00a6eb, 10%); 
                            border-color:#00a6eb;
                        }
                    }
                }
            }
        }    
    }
}

// contact:::nav-2

.contact{
    padding: 12px 0;
    border-bottom: 1px solid $color-lightengrey;
    .contact-item{
        @include flex-nav;
        font-size: 14px;
        .contact-item-mailtel{
            i{
                color:$color-green;
            }
            a{
                font-family: 'Open Sans', sans-serif;
                transition: 0.3s all;
                &:hover{
                    color:$color-green;
                }
            }
            span{
                font-family: 'Open Sans', sans-serif;
                color:rgb(110, 109, 109);
            }
            .mail{
                display: inline;
                padding: 3px 15px 3px 2px; 
                border-right: 1px solid $color-lightengrey;
            }
            .tel{
                display: inline;
                padding-left: 20px;
            }
        }
        .contact-item-sosial{
            margin-right: 8px;
            a:first-child{
                border:0;
            }
            a{  
                padding: 3px 11px;
                border-left: 1px solid $color-lightengrey;
                transition: 0.3s all;
                &:hover{
                    color:$color-green;
                }
            }
        }
    }
}

// Reveal:::nav-3

.reveal-nav{
    padding: 15px 0;
    box-shadow: 0 5px 8px rgb(233, 230, 230);  
    .reveal-nav-item{
        position: relative;
        @include flex-nav;
        .reveal{
            a{
                h2{ 
                    font-size: 42px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    color:$color-blue;
                    span{
                        color:$color-green;
                    }
                }
            }
        }
        .reveal-nav-dropdown{
            max-width: 70%;
            ul{
                li{ 
                    display: inline;
                    margin: 0 5px;
                    .active{
                        color:$color-green;
                    }
                    a{ 
                        color:darken($color-grey, 20%);
                        padding: 10px 8px;
                        font-family: "Raleway", sans-serif;
                        font-size: 14px;
                        font-weight: 700;
                        transition: .3s all;
                        &:hover{
                            color:$color-green;
                        }
                    }
                    .dropdown{
                        display: inline-block;
                        position: relative;
                        transition: 1s all;
                        .dropdown-content{
                            display: none;
                            position: absolute;
                            z-index: 1;
                            top:27px;
                            left: 0;  
                            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
                            padding:  10px 20px;
                            background-color: white;
                            width: 200px;               
                            animation-name: anim;
                            animation-duration: 2s; 
                            a{  
                                display: block;
                                padding: 12px 0;
                                font-size: 12px;
                                transition: .3s all;
                                &:hover{
                                    color:$color-green;
                                }
                            }
                        }
                        &:hover .dropdown-content{
                            display: block;        
                        }
                    }
                }
            }
        }
        .toggle{
            position: absolute;
            right: 10px;
            i{
                font-size: 30px;
            }    
        }
    }
}